:root {
  --custom-color: #52b69a;
  --font-color :  #555;
}

*{
   margin: 30px
   padding: 30px;
   box-sizing: border-box;
   font-family: dejavu-sans;
}

html{
  min-height: 100%
}

body{
  background-image: linear-gradient(125deg, #a4ac86, #132a13);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px;
}

@font-face {
     font-family: dejavu-sans;
     src: url(dejavu-sans.book.ttf);
}

input[type=text] {
  display: grid;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: dejavu-sans;
  color: var(--font-color);
  width: 100%;
  padding: 12px 20px;
  margin-bottom:5px;
  outline: 0;
  transition: 0.4s ease;
}
input[type=text]:hover {
  border: 1px solid var(--custom-color);
  outline:none;
}

input[type=text]:focus {
  border: 1px solid var(--custom-color);
  outline:none;
}

label {
  width: 30%;
  text-align: right;
  font-family: dejavu-sans;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: var(--font-color);
}

input[type=button],
input[type=submit],
input[type=reset] {
     background-color: white;
     max-width: 700px;
     width:100%;
     border: 1px solid #ccc;
     border-radius: 5px;
     color: var(--font-color);
     padding: 16px 32px;
     text-decoration: none;
     margin: 10px auto;
     cursor: pointer;
     display: block;
     text-align: center;
}

input::placeholder {
  opacity: 0.5;
  color: var(--font-color);
}

.container{
    max-width: 700px;
    width:100%;
    background: white;
    padding: 25px 30px;
    border-radius: 25px;
    margin: 10px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
    text-align:center;
}

.button{
  background-color: white;
  max-width: 700px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--font-color);
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
  display: block;
  text-align: center;
  transition: 0.4s ease;
}

.button:hover{
  border: 1px solid var(--custom-color);
  color: var(--custom-color);
}



a {
  text-decoration: none;
}

br{
   color: var(--font-color);
   text-align: center;
}

p{
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   margin: auto;
}

/* для слайдера*/
.slider-wrapper .slide-item .image-radio{
    display: none;
}

.slider-wrapper .slide-item .radio-label{
    display: inline-block;
    width: 100px;
    height: 130px;
    background-size: cover;
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.4s ease;
}

.slider-wrapper .slide-item .radio-label:hover{
    border: 4px solid var(--custom-color);
}

.image-radio:checked + .radio-label {
    border-color: var(--custom-color);
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.button-wrap {
  position: relative;
}
