:root {
  --custom-color: #52b69a;
  --font-color :  #555;
}
*{
    margin: 30px
    padding: 30px;
    box-sizing: border-box;
    font-family: dejavu-sans;
}
html{
  min-height: 100%
}
body{
  background-image: linear-gradient(125deg, #a4ac86, #132a13);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@font-face {
     font-family: dejavu-sans;
     src: url(dejavu-sans.book.ttf);
}
input[type=text] {
  display: grid;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: dejavu-sans;
  color: var(--font-color);
  width: 100%;
  padding: 12px 20px;
  margin-bottom:5px;
  outline: 0;
}
input[type=text]:focus {
  border: 3px solid #555;
  outline:none;
}
label {
  width: 30%;
  text-align: right;
  font-family: dejavu-sans;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: var(--font-color);
}
input[type=button], input[type=submit], input[type=reset] {
 background-color: white;
   max-width: 700px;
   width:100%;
   border: 1px solid #ccc;
   border-radius: 5px;
   color: var(--font-color);
   padding: 16px 32px;
   text-decoration: none;
   margin: 10px auto;
   cursor: pointer;
   display: block;
   text-align: center;
}
input::placeholder {
  opacity: 0.5;
  color: var(--font-color);
}
.container{
    max-width: 700px;
    width:100%;
    background: white;
    padding: 25px 30px;
    border-radius: 25px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
    text-align:center;
}
.button{
  background-color: white;
  max-width: 700px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--font-color);
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px auto;
  cursor: pointer;
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
}
br{
   color: var(--font-color);
   text-align: center;
}
p{
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   margin: auto;
}




