<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create resume</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        function addWorkPlace() {
            var container = document.getElementById("workPlaces-container");
            var count = container.children.length;

            var newWorkPlace = document.createElement("div");
            newWorkPlace.innerHTML = `
                <div>
                    <hr/>
                    <br/>
                    <div class="title"> Work information </div>
                    <input type="text" placeholder="Company"  name="workPlaces[${count}].nameOfCompany" id="nameOfCompany${count}">
                    <br/>
                    <input type="text" placeholder="Position" name="workPlaces[${count}].nameOfRole" id="nameOfRole${count}">
                    <br/>
                    <input type="text" placeholder="Start date" name="workPlaces[${count}].startOfWork" id="startOfWork${count}">
                    <br/>
                    <input type="text" placeholder="End date" name="workPlaces[${count}].endOfWork" id="endOfWork${count}">
                    <br/>
                </div>`;
            container.appendChild(newWorkPlace);
        }
    </script>
    <script>
        function addEducation() {
            var container = document.getElementById("educations-container");
            var count = container.children.length;

            var newEducation = document.createElement("div");
            newEducation.innerHTML = `
                <div>
                    <hr/>
                    <br/>
                    <div class="title"> Education </div>
                    <input type="text" placeholder="Name of institution" name="educations[${count}].eduName" id="eduName${count}">
                    <br/>
                    <input type="text" placeholder="Major" name="educations[${count}].major" id="major${count}">
                    <br/>
                    <input type="text" placeholder="Form of education" name="educations[${count}].formOfEdu" id="formOfEdu${count}">
                    <br/>
                    <input type="text" placeholder="End date (dd.MM.yyyy)" name="educations[${count}].dateOfEnd" id="dateOfEnd${count}">
                    <br/>
                </div>`;
            container.appendChild(newEducation);
        }
    </script>
</head>
<body>

<div class="container">
    <div class="title"> Enter information</div>
        <form th:method="POST" th:action="@{/done}" th:object="${person}">
            <input type="text" placeholder="Name" th:field="*{name}" id="name">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error </div>
            <br/>

            <input type="text" placeholder="Last name" th:field="*{last_name}" id="last_name">
            <div style="color:red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"> last_name error </div>
            <br/>

            <input type="text" placeholder="Date of birth" th:field="*{date_of_birth}" id="date_of_birth">
            <div style="color:red" th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}"> date_of_birth error </div>
            <br/>


            <input type="text" placeholder="Phone number" th:field="*{number}" id="number">
            <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"> number error </div>
            <br/>

            <input type="text" placeholder="Email" th:field="*{email}" id="email">
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> email error </div>
            <br/>

            <input type="text" placeholder="City" th:field="*{city}" id="city">
            <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> city error </div>
            <br/>

            <input style="max-width=150ch" placeholder="Work experience" type="text" th:field="*{experience}" id="experience">
            <div style="color:red" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"> experience error </div>
            <br/>

            <div class="workPlaces" id="workPlaces-container" th:object = "${workPlaces}">

            </div>
            <div class="educations" id="educations-container" th:object = "${educations}">

            </div>

            <hr/>
            <button class="button" type="button" onclick="addWorkPlace()">Add Workspace</button>
            <button class="button" type="button" onclick="addEducation()">Add Education</button>
            <input type="submit" value="create!">
    </form>
    <a a th:href="@{/}"> <button class="button"> back </button></a>
    </div>
</body>
</html>